@charset "utf-8";

html {
    background: url(../images/chen-mizrach.webp) no-repeat fixed center;
    background-size: cover;
}

article{
    background: rgba(255, 255,255,.97);
}

#mediaImages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
#mediaImages img {
    width: 90%;
    height: auto;
}

#mediaImages figure {
    box-sizing: content-box;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 1em;
    width: 10em;
    height: 12em;
    margin: 1em;
}
#mediaImages figcaption {
    font-weight: bold;
    margin: .5em 0em .5em 0em;
}

form input {
    display: inline;
}
form{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 1em;
}

form div {
    margin: 1em;
}

#main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

#mediaLinks {
    flex-basis: 60%;
}