@charset "utf-8";

html {
    background: url(../images/james-donovan.webp) repeat fixed center;
    background: cover;
    overflow: auto;
}

body {
    overflow: auto;
}

article {
    background: rgba(255, 255, 255, .9);
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: left;
}

h1{
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
    text-decoration: underline;
}

/* Link styles */
article a:link, article a:visited {
    color: blue;
}

article a:hover, article a:active {
    color: darkblue;
    text-decoration: underline;
}

#dropcap::first-letter{
  float: left;
  font-size: 4em;
  padding: 0 .03em 0 0;
  margin: 0;
  line-height: .8em;
}

article li:hover {
    text-decoration: none;
    background: none;
}