@charset "utf-8";

html {
    background: url(../images/christopher-gower.webp) no-repeat fixed center;
    background-size: cover;
}

article{
    background: rgba(255, 255,255,.97);
}

figure{
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    padding: .5em;
}