@charset "utf-8";

html {
    background: url(../images/christopher-gower.webp) no-repeat fixed center;
    background-size: cover;
}

article{
    background: rgba(255, 255,255,.97);
}

figure{
    border: 1px solid lightgray;
    border-radius: 5px;
    display: inline-block;
    padding: .5em;
    width: 25rem;
}

figure img {
    width: 100%;
}

#BB_Container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#BB_Container > div {
    flex-basis: 40rem ;
}