@charset "utf-8";

article {
    box-sizing: border-box;
    padding: 2em;
    width: 80%;
    margin: 1em auto 0 auto;
    background: rgba(255,255,255, .80);
    border-radius: 10px;
}

html {
    height: 100%;
}
body {
    margin: 0px;
    padding: .5em 0px 0px 0px;
    height: 100%;
    box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
}

/* Nav Bar */
header{
    position: sticky;
    top: 0px;
    width: auto;
}

nav {
    display: flex;
    padding: 0 1em 0 1em;
    justify-content: space-between;
    background: rgba(255, 255, 255, .9);
}

nav > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0px 0px 0px 0px;
}

ul > li {
    background-color: white;
    text-decoration: none;
    padding: .5em 1em .5em 1em;
    border-left: 1px solid lightgray;
    text-align: center;
}

ul > li:nth-of-type(5){
    border-right: 1px solid lightgray;
}


div#profile_links {
    padding-top: .3em;
}

/* Link styles */
a {
    text-decoration: none;
}
a:visited {
    color: black;
}
li:hover, a:hover {
    background-color: lightgray;
    text-decoration: underline;
}

/* Footer */

footer {
    position: relative;
    background-color: white;
    text-align: center;
    width: 100%;
    bottom: 0px;
}

footer > p {
    margin: .4em 0 .4em 0;
    font-variant: small-caps;
}

/* Temporary, to bring icons under control */
div#profile_links>a>img {
    max-height: 1.5em;
}

div#right_image>img {
    max-height: 30em;
}